body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login{
   display: flex;
   flex-direction: column;
    justify-content: center;
    width: 30%;
    align-items: center;
    margin: auto;
    gap: 15px;
    /* background-color: aqua; */
}
.login__input{
    width: 50%;
    font-size: 18px;
    padding: 5px;
}